<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LoginBettinaDepilacion</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="shortcut icon" href="/images/LogoBD.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/estilos.css">
</head>

<body class="container-xxl">


  <header>

    <div class="cabecera">

      <img class="logo" src="/images/LogoBD.png" width="100px" alt="logo">
      <h1>Bettina depilación</h1>
      <div class="seguinos">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <a href="https://api.whatsapp.com/send?phone=+541160066625&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202."
          class="float" target="_blank">
          <i class="fa fa-whatsapp my-float"></i>
        </a>
        <p>seguinos en </p>
      </div>
      <div class="seguinos">
        <a class="iconos" href="https://es-la.facebook.com/BettinaDepilacion" target="_blank">
          <img src="/images/facebook-square-brands.svg" alt="facebook">
        </a>
        <a class="iconos" href="https://www.instagram.com/bettinadepilacion/?hl=es" target="_blank">
          <img src="/images/instagram-brands.svg" alt="instagram">
        </a>
        <a class="iconos" href="" target="_blank">
          <img src="/images/twitter-square-brands.svg" alt="twuiter">
        </a>
      </div>



    </div>

    <!--<barra de navegacion-->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#"></a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      </div>
    </nav>
    <!--fin de barra navegacion-->
  </header>
  {{{body}}}


  <!-- inicio footer -->

  <footer class="footer">

    <!-- ------------------------------------- -->

    <div class="footcontainer">
      <div class="row">
        <div class="logofoot">
          <img class="logofoot" src="/images/LogoBD.png">
        </div>
      </div>


      <!-- contacto -->
      <div class="row">
        <h3 class="h3foot2">Contacto</h3>
        <ul class="menufoot">
          <li>Turnos al</li>
          <li>+54 (11) 4784-2444</li>

          <li>+54 (11) 6006-6625</li>
          <li>Franklin D. Roosevelt 2490</li>
          <li>Belgrano (CABA)</li>
        </ul>
        <ul class="menufoot2">
          <li>
            <a href="https://es-la.facebook.com/BettinaDepilacion" target="_blank" class="iconito"><i
                class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/bettinadepilacion/?hl=es" target="_blank" class="iconito"><i
                class="fa fa-instagram"></i></a>
          </li>

        </ul>
      </div>
      <!-- fin/contacto -->

      <!-- --------------------------------------------- -->

      <br><br><br><br>
    </div>
    </div>

    <p class="disenado">Diseñado por &#169 Adrian Roggiero</p>
  </footer>

  <!-- fin de footer -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
</body>

</html>