
  <article class="fotopersona">
    <img src="images/nosotras.jpg" alt="nosotras" class="fotoper">

  </article>
  <div class="articulo">
    <h4>Acerca de nuestro local</h4>
    <p class="parrafo"> Bienvenida a Bettina depilacion.<br>
      Con una trayectoria de 9 años en el local de Belgrano, te brindamos la mejor atención para que
      pases un momento de frescura y relax, haciendo que tu piel, tus manos ,tus pies y tu rostro luzcan
      como te mereces, todo una Reina!!!<br>
      Un cafecito?? Por supuesto, la casa te invita asi coronamos tu estadia en un momento supremo.<br> Para turnos podes
      comunicarte con nuestros telefonos. Cumplimos con todos los protocolos COVID.</p>
  </div>


  <div>
    <img src="images/atencion2.jpg" alt="atencion covid" width="400px">
  </div>
