<article class="holder">
    <h1>Novedades</h1>
    {{#each novedades}}
    <div>
        <h3>{{titulo}}</h3>
        <h2>{{subtitulo}}</h2>
        <p>{{cuerpo}}</p>
        <hr>
    


    </div>
    {{/each}}

</article>