    <article>
        <!--inicio de tarjetas-->
        <div>
            <h2>Servicios</h2>
        </div>
        <div class="card-group">
            <div class="card">
                <img src="images/depiserv.jpg" class="fotoserv" alt="depilacion">
                <div class="card-body">
                    <h5 class="card-title">DEPILACION</h5>
                    <p class="card-text">Depilación sistema español con cera de primerisima calidad, para el cuidado de tu piel.
                        La depilacion mediante el sistema español es mas seguro y eficaz.</p>
                </div>
                <div class="card-footer">
                    <!-- <button class="boton">Mas info...</button> -->
                </div>
            </div>
            <div class="card">
                <img src="images/manosserev.jpg" class="fotoserv" alt="manicuria">
                <div class="card-body">
                    <h5 class="card-title">MANICURIA</h5>
                    <p class="card-text">El cuidado de tus uñas dejalo en nuestras manos. Esmaltes y productos de primera calidad.
                </div>
                <div class="card-footer">
                    <!-- <button class="boton">Mas info...</button> -->
                </div>
            </div>
            <div class="card">
                <img src="images/semiserv.jpeg" class="fotoserv" alt="semipermanente">
                <div class="card-body">
                    <h5 class="card-title">ESMALTE Semipermanente</h5>
                    <p class="card-text">Para que tus uñas de manos y pies esten siempre bellas, por mas tiempo.</p>
                </div>
                <div class="card-footer">
                    <!-- <button class="boton">Mas info...</button> -->
                </div>
            </div>
            <div class="card">
                <img src="images/piesserv.jpeg" class="fotoserv" alt="pedicuria">
                <div class="card-body">
                    <h5 class="card-title">PEDICURIA</h5>
                    <p class="card-text">Tus pies estan en buenas manos. Dejaran de estar cansados de tanto andar y mientras
                        disfurtas del rico cafecito que te invitamos, veras como vuelven a lucir en ti.
                    </p>
                </div>
                <div class="card-footer">
                    <!-- <button class="boton">Mas info...</button> -->
                </div>
            </div>
            <div class="card">
                <img src="images/liserv.jpeg" class="fotoserv" alt="lifting">
                <div class="card-body">
                    <h5 class="card-title">LIFTING de PESTAÑAS</h5>
                    <p class="card-text">Ojos, bellos ojos. Dale el brillo que se merecen realzando lo lindo de tus pestañas.</p>
                </div>
                <div class="card-footer">
                    <!-- <button class="boton">Mas info...</button> -->
                </div>
            </div>
            <div class="card">
                <img src="images/cosmetologia.jpg" class="fotoserv" alt="cosmetologia">
                <div class="card-body">
                    <h5 class="card-title">COSMETOLOGIA</h5>
                    <p class="card-text">Lo mejor para que tu cutis luzca radiante. Bella por siempre. Trabajamos con productos de primera calidad. Vuelve a sentir la suavidad en tu rostro.</p>
                </div>
                <div class="card-footer">
                    <!-- <button class="boton">Mas info...</button> -->
                </div>
            </div>
        </div>
        <!--fin de tarjetas-->


    </article>