
        <section>
            <h2>Nuestra casa central esta en el barrio de Belgrano (Bs. As. Argentina)</h2>
        </section>
        <section>
            <div class="row">
                <iframe class="mapa"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.8219130647262!2d-58.46339688527439!3d-34.558064162589936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb42af5f9078b%3A0x7b641ffcdc5169c3!2sBettina%20DEPILACI%C3%93N!5e0!3m2!1ses!2sar!4v1623455155280!5m2!1ses!2sar"
                    width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </section>

